*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  background-color: #1F2937;

}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  max-width: 75rem;
}

.header__logo {
  font-weight: 800;
  font-size: 20px;
  color: #E5E7EB;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero {
  display: flex;
  padding: 4rem 2rem;
  justify-content: center;
  background-color: #1F2937;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
}

.hero__header {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.header__link, .hero__text {
  font-size: 18px;
  color: #abafb6;
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 450px;
}

.hero__img {
  height: 300px;
}

.hero__button {
  color: #F9FAF8;
  background-color: #3882F6;
  border-width: 0rem;
  border-radius: 8px;
  padding: 4px 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 5rem 8rem ;
}

.info__header {
  align-self: center;
  font-weight: 900;
  font-size: 36px;
  color: #1F2937;
  
}

.info__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.info__item {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;
}

.item__img {
  width: 10rem;
  align-self: center;
}

.item__text {
  text-align: center;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem 5rem ;
  background-color: #E5E7EB;
}

.quote__text {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}
.quote__text--primary {
  max-width: 700px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote__text--secondary {
  font-weight: 800;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 8rem 5rem;
}

.cta__wrapper {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882F6;
  padding: 1.5rem 6rem;
  border-radius: 0.5rem;
}

.cta__content {
  color: #E5E7EB;
}

.cta__button {
  background-color: #3882F6;
  color: #E5E7EB;
  border-width: 2px;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  border: 1px #E5E7EB solid;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  color: #E5E7EB;
  background-color: #1F2937;
}