*,
*::before,
*::after {
  box-sizing: border-box;      /* keeps borders inside the element size */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  background-color: #1F2937;

}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  max-width: 75rem;
}

.header__logo {
  font-weight: 800;
  font-size: 20px;
  color: #E5E7EB;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero {
  display: flex;
  padding: 4rem 2rem;
  justify-content: center;
  background-color: #1F2937;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
}

.hero__header {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.header__link, .hero__text {
  font-size: 18px;
  color: #abafb6;
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 450px;
}

.hero__img {
  height: 300px;
}

.hero__button {
  color: #F9FAF8;
  background-color: #3882F6;
  border-width: 0rem;
  border-radius: 8px;
  padding: 4px 20px;
}