*,
*::before,
*::after {
  box-sizing: border-box;      /* keeps borders inside the element size */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  background-color: #1F2937;
  color: #F9FAF8;
}

.header__logo {
  font-weight: 800;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero {
display: flex;
}